annotated-types==0.7.0
certifi==2024.8.30
charset-normalizer==3.4.0
dataclass-wizard==0.26.0
filelock==3.16.1
filetype==1.2.0
idna==3.10
jsonpath-ng==1.7.0
ply==3.11
pydantic==2.9.2
pydantic_core==2.23.4
PyYAML==6.0.2
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.2.3
validators==0.34.0
watchdog==4.0.2
